*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

/* Navbar */
.logo_name_nav{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding:50px;
   height: 40px;
   margin: 45px;
   
   
}
.logoo{
  padding: 0 70px 0px 100px;
}
 #navbar {
    background:#0C0B0B;
    color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: row;
    
 }
 .linkss {
   font-family: 'Sora', sans-serif;
   float: right;
   padding:10px;
   padding-left: 50px;
   


 }
 .flex-container{
    display: flex;
    flex-direction: column;
    float:right;
    
    color:rosybrown;
 }
 .flex-container .linkss a:hover{
   cursor: pointer;
   color: rosybrown;
   background: red;
   transition: 2s;
}
.flex-container .linkss a{
   color:rosybrown;
   padding: 10px;
   border-radius: 10px;
}
#footericons{
   font-size: 50px;
}
 .fa{
    
   padding: 70px 20px 0 45px;
    margin:20px;
    color:rosybrown;
    


 }
 /* MEDIA QUERIES */
@media screen and (max-width: 1024px) and (min-width: 768px){
#navbar{
   
        display: grid;
        grid-template-rows: auto;
}
.logo_name_nav{
   padding:0;
}
.logoo{
   width: 300px;
   height: 380px;
   padding-left: 0;
   
}
.flex-container{
   padding:0;
   float: left;
}
}
    /*=======================
================== MOBILE DEVICES =================
===================*/

@media screen and (max-width: 650px) and (min-width: 300px) {
#navbar{
width: 530px;
display: grid;
grid-template-rows: auto;
}
.logoo{
 width: 200px;
 height: 400px;
 padding-right: 0;

}
.flex-container{
 padding:0;
 float: left;
}
}