*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   text-decoration: none;
   list-style-type: none;
}

/* Navbar */
.logo_name_nav{
   
   height: 40px;
   margin: 45px;
   
}
.logoo{
  padding: 0 70px 0px 100px;
}
 #navbar {
    background:#0C0B0B;
    color: #fff;
    overflow: auto;
    display: flex;
    flex-direction: row;
    
 }
 .linkss {
   float: right;
   padding:20px;
   


 }
 .flex-container{
    display: flex;
    flex-direction: column;
    float:right;
    
    color:rosybrown;
 }
 .flex-container .linkss a:hover{
   cursor: pointer;
   color: rosybrown;
   background: red;
   transition: 2s;
}
.flex-container .linkss a{
   color:rosybrown;
   padding: 20px;
   border-radius: 10px;
}

 .fa{
    font-size: 50px;
   padding: 70px 20px 0 45px;
    margin:10px;
    color:rosybrown;
    


 }
 @media screen and (max-width: 425px){
   .logo_image{
      float: left;
     height: 60px;
     width: 60px;
     
     border-radius: 20px;
  }
  #navbar ul li a {
   display: block;
   padding: 10px;
   text-align: center;
 
}

 }
 
 @media screen and (min-width: 411px) and (max-width:1000px){

    .logo_image{
        float: left;
       height: 60px;
       width: 60px;
       margin: 24px;
       border-radius: 20px;
    }
     #navbar {
        background:grey;
        color: #fff;
        overflow: auto;
       
        
     }

 }
 /* Iphon x */
 /* @media screen and(max-width:375){
   .logo_image{
      float: left;
     height: 60px;
     width: 60px;
     margin: 24px;
     border-radius: 20px;
  }
   #navbar {
      background:grey;
      color: #fff;
     
     
      
   }
 } */