   /* home*/

   *{
   
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
  }


   .home-container{
    display: flex;
    align-items: center;
    padding: 20px 20px 80px 295px;
    
  }
  
  .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1545296664-39db56ad95bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&q=80"); 
      height: 900px;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      position: relative;
    }
    
  .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: rgb(216, 183, 183);
      font-size: 25px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
  .hero-text button {
      border: none;
      outline: 0;
      display: inline-block;
      padding: 10px 25px;
      color: black;
      background-color: #ddd;
      text-align: center;
      cursor: pointer;
    }
    
  .hero-text button:hover {
      background-color: #555;
      color: white;
    }
  
  
  
  .who_iam{
      text-align: center;
      font-family: 'Sora', sans-serif;
      font-size: 59px;
      padding: 55px 70px 40px 70px;
      color: rosybrown;
     
    
     
      
  }
  .content-inf{
      text-align: left;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 30px;
      width: 700px;
      padding: 10px 70px 3px 15px;
  }
  .image{
    background: url("../../img/ana-pic.jpeg") no-repeat;
   
    height: 400px;
    width: 430px;
    margin: 20px;
    border: black solid 15px;
    align-items: center;
    
  }

  /* MEDIA QUERIES */
  @media screen and (max-width: 1024px) and (min-width: 768px) {

.hero-image{
      width: 689px;
      height: 750px;
  }
.who_iam{
  padding: 60px 305px 10px 180px;
}
.home-container{
    
    padding: 20px 105px 10px 100px;
    display: grid; 
    grid-template-columns: auto;
    
}
.content-inf{
    width: 586px;
}
.image{
 
  width: 400px;
  
}
}
 /*=======================
================== MOBILE DEVICES =================
===================*/

@media screen and (max-width: 650px) and (min-width: 300px) {
.hero-image{
    width: 520px;
    height: 850px;
}
.who_iam{
padding: 60px 15px 10px 170px;
}
.home-container{
  padding:30px;
  display: grid; 
  grid-template-columns: auto;
  
}
.content-inf{
  width: 486px;
}
.image{

width: 400px;

}
}