*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   text-decoration: none;
}

.navbar1{
   background-color: black;
   height: 100px;
}
.logo_name{
   color:white;
   float: left;
   padding: 40px 40px 20px 20px;
   
}
.container11{
   float:right;
   padding: 40px 40px 20px 20px ;
}
ul li{

   display: inline;
   padding: 20px ;
}
ul li a:hover{
   cursor: pointer;
   color: rosybrown;
   background: red;
   transition: 2s;
}
ul li a{
   color:rosybrown;
   padding: 20px;
   border-radius: 10px;
}



/* MEDIA QUERIES */
@media screen and (max-width: 1024px) and (min-width: 768px) {
   .navbar1{
      width: 486px;
   }
   .navsection{
      display: flex;
      flex-direction: row;
   }
   .logo_name{
      padding:10px 70px 0 150px;
      margin:0;
      font-size: 1rem;

   }
   ul{
      padding-right:10px;
      margin:0;
      display: flex;
      flex-direction: row;
      
      
   
   }
   ul li{
      padding: 0;
   }
   li a{
      font-size: 10px;
   }
  
}
 /*=======================
================== MOBILE DEVICES =================
===================*/

@media screen and (max-width: 650px) and (min-width: 300px) {
   .navbar1{
      width: 520px;
   }
   .navsection{
      display: flex;
      flex-direction: row;
   }
   .logo_name{
      padding:10px 70px 0 150px;
      margin:0;
      font-size: 1.5rem;

   }
   ul{
      padding-right:10px;
      margin:0;
      display: flex;
      flex-direction: row;
      
      
   
   }
   ul li{
      padding: 0;
   }
   li a{
      font-size: 10px;
   }
  
}