

.portafolio_img{
    height: 500px;
    width: 700px;
    
}
.portafolio__container{
    height: 900px;
    width: 1200px;
    padding-left: 500px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
   
   
}
.projects{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding: 55px 70px 40px 70px;
}
.links-button:hover{
   
    background: salmon;
 }
 .links-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rosybrown;
    padding: 15px 15px;
    margin:30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 15px;
    
 }

    /* MEDIA QUERIES */
@media screen and (max-width: 1024px) and (min-width: 768px){
.projects{
    padding:0 200px 10px 10px ;
    margin: 40px;
}
.portafolio__container{
    height: 650px;
    width: 1200px;
    padding:0 700px 0 10px ;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 19px;
   
}
.portafolio_img{
    padding-left:0;
    height: 300px;
    width: 470px;
}
}
 /*=======================
================== MOBILE DEVICES =================
===================*/

@media screen and (max-width: 650px) and (min-width: 300px) {
    .projects{
        padding:0 200px 10px 140px ;
        margin: 40px;
    }
    .portafolio__container{
        height: 650px;
        width: 1200px;
        padding:10px 700px 0 10px ;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
       
       
    }
    .portafolio_img{
        padding-left:0;
        height: 270px;
        width: 370px;
    }
}