.portafolio_img{
    height: 350px;
    width: 450px;
    
}
.text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 400px;
}

.grid{
display: grid;
  justify-content: center;
  text-align: center;
  padding:40px 40px 10px 10px;
 
  grid-template-columns: auto auto auto;
}
.separatediv{
    padding:60px 60px 60px 60px;
}
.titleprojects{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom:  23px;
    font-size: 27px;
}
.projects{
    color:rosybrown;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 59px;
    padding: 80px 80px 60px 70px;
}
.links-button:hover{
   
    background: salmon;
 }
 .links-button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: rosybrown;
    padding: 15px 15px;
    margin:30px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 15px;
    
 }

    /* MEDIA QUERIES */
@media screen and (max-width: 1024px) and (min-width: 768px){
.projects{
    padding:40px 200px 10px 150px ;
    margin: 40px;
}
.grid{
    display: grid;
      justify-content: center;
      text-align: center;
      padding:40px 40px 10px 10px;
      grid-template-columns: auto;
    }
.portafolio_img{
    padding-left:0;
    height: 450px;
    width: 475px;
}
}
 /*=======================
================== MOBILE DEVICES =================
===================*/

@media screen and (max-width: 650px) and (min-width: 300px) {
    .projects{
        padding:0 200px 10px 140px ;
        margin: 40px;
    }
    .grid{
        display: grid;
          justify-content: center;
          text-align: center;
          padding:20px 40px 10px 190px;
          grid-template-columns: auto;
        }
    .portafolio_img{
        padding-left:0;
        height: 270px;
        width: 370px;
    }
}