.nameskills{
    color:rosybrown;
    text-align: center;
    font-family: 'Sora', sans-serif;
    font-size: 59px;
    padding: 55px 70px 40px 70px;
}
.skills-imgpart{
    height: 100px;
    width: 180px;
   padding-left: 50px;
   text-align: center;

}
.skills-imgpartcss{
    height: 106px;
    width: 150px;
   padding-left: 50px;
   text-align: center;
}
.anatext{
 padding:0;
  width: 200px;
  height: 100px;
  margin: 0 auto;
}
.grid-container{
    
   display: grid;
   grid-template-columns: auto auto auto ;
    width: 300px;
    margin:20px;

}
.lg-info{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 470px;
    padding: 30px 30px 50px 150px;
    
}

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) and (min-width: 768px){
    .grid-container{
         display: grid;
         grid-template-columns: auto;
          width: 400px;
          padding: 0 700px 10px 50;
          
      
      }
      .nameskills{
          padding: 50px 300px 10px 250px;
      }
      .lg-info{
          padding:30px 20px 0 250px;
          height: 370px;
          /* margin: 30px; */
      }
      .skills-imgpart{
        padding: 10px 5px 20px 20px;
      }
    
}
 /*=======================
================== MOBILE DEVICES =================
===================*/

@media screen and (max-width: 650px) and (min-width: 300px) {
    .grid-container{
     display: grid;
     grid-template-columns: auto;
     width: 400px;
     padding: 0 700px 10px 50;
         
     
     }
     .nameskills{
      padding: 0 300px 10px 190px;
       
     }
     .lg-info{
      padding:0 20px 0 0;
         /* margin: 30px; */
     }
}